$color-primary-0: #ED4700;	// Main Primary color */
$color-primary-1: #FF783F;
$color-primary-2: #FF4F05;
$color-primary-3: #C03900;
$color-primary-4: #932C00;

$color-secondary-0: #00A260;	// Main Complement color */
$color-secondary-1: #31C589;
$color-secondary-2: #04C476;
$color-secondary-3: #00824E;
$color-secondary-4: #00643C;

$bp-desk-min: 768px;

$height-default: 36px;
